<%- include('../partials/header') %>

<form action="/skills/<%= skill.id %>?_method=PUT" method="POST">
  <div class="option">
    <p>Update Skill: </p><input type="text" name="skill" value="<%= skill.skill %>"><br>
  </div>
  <p>Update proficiency level: </p><input type="text" name="proficiency" value="<%= skill.proficiency %>"><br>
  <label>
    <input type="checkbox" name="done" <%= skill.done ? 'checked' : '' %>>
    Completed
  </label><br>
  <button type="submit">Update Skill level</button>
</form>

<%- include('../partials/footer') %>